* {
    margin: 0;
    padding: 0;
    // border: 1px solid red;
    // box-sizing: border-box;
    font-family: "Poppins", serif;
}

.navbar-container {
    z-index: 999;
    position: fixed;
    background-color: #e0a25a;
    width: 100%;

    .logo {
        h3 {
            font-family: "Pacifico", sans-serif;
            font-weight: 400;
            font-size: 1.3em;
            color: white;
        }
    }

    .nav-list {
        .sidebar {
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(12px);
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        width: 80%;

        i {
            display: none;
        }

        ul {
            display: flex;
            gap: 3rem;

            li {
                list-style: none;

                a {
                    color: white;
                    font-size: 1rem;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    width: 100%;
    height: 76vh;
    background-color: #e0a25a;

    font-family: "Poppins", serif;
    color: white;

    .wrapper {
        width: 80%;
        margin: 0 auto;

        display: flex;
        align-items: center;

        .content {
            display: flex;

            align-items: center;

            .content-detail {
                width: 80%;

                h3 {
                    font-size: 2.5rem;
                }

                p {
                    padding-top: 1rem;
                    font-size: 0.9rem;
                    font-weight: 300;
                }

                button {
                    border: none;
                    border-radius: 50px;
                    font-size: 0.9rem;
                    color: white;
                    cursor: pointer;
                }

                .tombol {
                    padding-top: 2rem;
                    display: flex;

                    .button-buy {
                        padding: 0.5rem 2rem;
                        background-color: black;
                        margin-right: 0.6rem;
                    }

                    .button-explore {
                        padding: 0.4rem 1.3rem;
                        background-color: transparent;
                        border: 1px white solid;
                    }
                }
            }
        }

        // Ini bagian card
        aside {
            position: absolute;
            right: 0;
            max-width: 40%;
            // min-width: 30%;
            color: black;

            .doctor {
                border-radius: 10px 0 0 10px;
                padding: 1rem;
                background-color: white;
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                align-items: center;

                img {
                    width: 100px;
                }

                .nama {
                    font-weight: bold;
                    font-size: 0.9rem;
                }

                .spesialis {
                    margin-top: -1rem;
                    font-size: 0.8rem;
                }

                .tombol-konsul {
                    border: none;
                    border-radius: 50px;
                    padding: 0.7rem 1.3rem;

                    background-color: #e0a25a;
                    color: white;
                    font-size: 0.8rem;
                    cursor: pointer;

                    &:hover {
                        background-color: #b9874d;
                    }
                }
            }
        }
    }
}

#about {
    width: 100%;
    font-family: "Poppins", serif;
    margin-top: 8rem;
    display: flex;

    .content-about {
        display: flex;
        width: 80%;
        margin: 0 auto;

        .about-detail {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 30%;

            h1 {
                font-size: 1.7rem;
            }

            p {
                font-size: 0.9rem;
            }

            i {
                background-color: #e0a25a;
                color: white;
                border: none;
                cursor: pointer;
                font-size: 1rem;
                padding: 1rem;
                border-radius: 40%;

                &:hover {
                    background-color: #b9874d;
                }
            }
        }

        .cards-pet {
            .card-pet-list {
                display: flex;

                .list {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                    padding-bottom: 1rem;

                    &:hover {
                        background-color: rgb(230, 230, 230);
                    }

                    .gambar {
                        padding-top: 1rem;
                        height: 50%;
                        text-align: center;
                        overflow: hidden;

                        img {
                            width: 70%;
                        }
                    }

                    p {
                        font-size: 0.9rem;
                        font-weight: bold;
                    }

                    button {
                        padding: 0.5rem 1rem;
                        font-size: 0.8rem;
                        background-color: #e0a25a;
                        color: white;
                        cursor: pointer;
                        border-radius: 50px;
                        border: none;

                        &:hover {
                            background-color: #b9874d;
                        }
                    }
                }
            }
        }
    }
}

.article {
    article {
        width: 100%;

        h1 {
            font-size: 1.7rem;
            text-align: center;
        }

        .detail-article {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 2rem;
            gap: 3rem;

            .deskripsi-article {
                width: 60%;

                h2 {
                    color: #e0a25a;
                }

                p {
                    text-align: justify;
                    font-size: 0.8rem;
                    line-height: 1.5rem;
                }
            }

            .thumbnail-article {
                width: 35%;

                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}

#Contact {
    width: 100%;

    color: white;

    margin: 2rem 0 2rem;

    .wrapper {
        padding: 1rem 0 2rem;
        border-radius: 20px;
        background-color: #e0a25a;
        width: 80%;
        margin: 0 auto;

        h1 {
            text-align: center;
            font-size: 1.5rem;
        }

        .container {
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 2rem;

            .thumbnail-contact {
                width: 37%;

                img {
                    width: 100%;
                    border-radius: 30px;
                }
            }

            .form-grup {
                display: flex;
                flex-direction: column;
                align-items: center;

                label {
                    font-size: 0.9rem;
                }

                input {
                    width: 30rem;
                    padding: 0.5rem 0.5rem;
                    margin-bottom: 0.6rem;
                    margin-top: 0.6rem;
                    font-size: 0.8rem;
                    border-radius: 10px;
                    border: none;
                }

                textarea {
                    margin-top: 0.6rem;
                    border-radius: 10px;
                    padding: 1rem 0.5rem;
                    width: 30rem;
                    height: 4rem;
                }

                button {
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 10px;
                    font-size: 1rem;
                    cursor: pointer;
                    border: none;
                    margin-top: 1rem;
                }
            }
        }
    }
}

footer {
    font-family: "Poppins", serif;
    text-align: center;
    background-color: #e0a25a;
    color: white;
    font-size: 0.8rem;

    a {
        text-decoration: none;
        color: white;
    }
}

// Tab
@media screen and (min-width: 768px) and (max-width: 1114px) {
    .navbar-container {
        .logo {
            h3 {
                font-size: 1.8rem;
            }
        }

        .nav-list {
            flex-direction: column;
        }
    }

    main {
        height: 70vh;

        .wrapper {
            // display: flex;
            align-items: center;

            .content {
                display: flex;
                align-content: center;

                .content-detail {
                    display: flex;
                    align-content: center;
                    flex-direction: column;
                }
            }
        }
    }

    #about {
        .content-about {
            .about-detail {
                width: 100%;
                margin-right: 20px;
            }
        }

        .cards-pet {
            width: 50%;

            .card-pet-list {
                width: 100%;
                gap: 1rem;
                flex-wrap: nowrap;
                overflow: hidden;
                // flex-grow: 2;

                .list {
                    // width: 50%;
                    gap: 0;
                    // flex-grow: 1;
                }
            }
        }
    }

    .article {
        article {
            .detail-article {
                gap: 0;
            }
        }
    }

    #Contact {
        .wrapper {
            .container {
                .thumbnail-contact {
                    display: none;
                }
            }
        }
    }
}

// Mobile
@media screen and (max-width: 576px) {
    .navbar-container {
        // margin-top: 5rem;
        padding: 0.5rem 0;

        .logo {
            h3 {
                font-size: 1.8rem;
            }
        }

        .nav-list {
            flex-direction: row;

            .sidebar {
                gap: 0;

                li {
                    gap: 0;
                    padding-top: 2rem;
                    padding-left: 2rem;
                }
            }

            i {
                color: white;
                display: block;
            }

            ul {
                display: none;
            }
        }
    }

    main {
        .wrapper {
            .content {
                .content-detail {
                    margin-top: 6rem;
                }

                .image-container {
                    img {
                        display: none;
                    }
                }
            }
        }
    }

    #about {
        .content-about {
            flex-direction: column;

            .about-detail {
                width: 100%;
            }

            .cards-pet {

                .card-pet-list {
                    overflow: hidden;
                    gap: 2rem;
                    scroll-behavior: smooth;


                    .list {
                        width: 100%;

                        /* Sembunyikan semua list pada breakpoint 576px */
                        .gambar {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }


}